@import "tailwindcss";

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientAnimation 8s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
  }
  
  .bg-size-200 {
    background-size: 200% 200%;
  }